h1{
    color:rgb(206, 108, 108);font-size: 200px;
}
.image{
    background-color: #18130d;
}

.one{
    color: aqua;
}
.two{
    color:rgb(127, 255, 212);
}
.three{
    color:#cb97fc;
}
hr{
    border:none;border-top: dotted;width:200px;border-width: 08px;
}